.u-section-1 {background-image: linear-gradient(0deg, rgba(6,38,57,0.5), rgba(6,38,57,0.5)), url("images/architecturebricksbuildingconcrete323781.jpg")}
.u-section-1 .u-sheet-1 {min-height: 551px}
.u-section-1 .u-text-1 {text-transform: uppercase; font-family: Adamina; font-size: 4.5rem; margin: 228px 526px 0 0}
.u-section-1 .u-text-2 {font-size: 1.875rem; font-family: Adamina; margin: 15px 737px 0 0}
.u-section-1 .u-line-1 {width: 308px; height: 6px; transform-origin: right center 0; border-style: solid; margin: 35px auto 60px 306px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 454px}
.u-section-1 .u-text-1 {margin-right: 326px}
.u-section-1 .u-text-2 {margin-right: 537px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 348px}
.u-section-1 .u-text-1 {margin-right: 106px}
.u-section-1 .u-text-2 {margin-right: 317px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 261px}
.u-section-1 .u-text-1 {margin-right: 0}
.u-section-1 .u-text-2 {margin-right: 137px}
.u-section-1 .u-line-1 {margin-left: 232px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 164px}
.u-section-1 .u-text-1 {font-size: 3.75rem}
.u-section-1 .u-text-2 {margin-right: 0}
.u-section-1 .u-line-1 {margin-left: 32px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 690px}
.u-section-2 .u-layout-wrap-1 {width: 1140px; margin: 95px 0 60px}
.u-section-2 .u-layout-cell-1 {min-height: 480px; background-image: none}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 3.75rem; font-family: Adamina; margin: 0 auto}
.u-section-2 .u-text-2 {letter-spacing: 2px; line-height: 1.4; font-size: 1.125rem; margin: 20px 0 0}
.u-section-2 .u-btn-1 {background-image: none; border-style: none; text-transform: uppercase; letter-spacing: 2px; margin: 50px auto 0}
.u-section-2 .u-layout-cell-2 {min-height: 480px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-3 {font-size: 3.75rem; font-family: Adamina; margin: 0 auto}
.u-section-2 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 136px; min-width: 88px; margin: 30px auto 0}
.u-section-2 .u-icon-1 {height: 100%}
.u-section-2 .u-icon-2 {height: 100%}
.u-section-2 .u-icon-3 {height: 100%}
.u-section-2 .u-form-1 {height: 260px; width: 650px; margin: 32px -3px 0}
.u-section-2 .u-btn-2 {background-image: none; border-style: solid; text-transform: uppercase; letter-spacing: 2px} 

@media (max-width: 1199px){ .u-section-2 {min-height: 255px}
.u-section-2 .u-sheet-1 {min-height: 416px}
.u-section-2 .u-layout-wrap-1 {position: relative; width: 940px}
.u-section-2 .u-layout-cell-1 {min-height: 396px}
.u-section-2 .u-text-1 {font-weight: normal}
.u-section-2 .u-text-2 {text-transform: none; font-weight: normal}
.u-section-2 .u-layout-cell-2 {min-height: 396px}
.u-section-2 .u-text-3 {font-weight: normal}
.u-section-2 .u-form-1 {width: 520px; margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 120px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-form-1 {width: 384px} }

@media (max-width: 767px){ .u-section-2 {min-height: 355px}
.u-section-2 .u-sheet-1 {min-height: 220px}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-form-1 {width: 320px} }.u-section-3 .u-sheet-1 {min-height: 751px}
.u-section-3 .u-group-1 {width: 469px; min-height: 441px; height: auto; background-image: none; margin: 155px 0 155px auto}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-1 {font-family: Adamina; margin: 0}
.u-section-3 .u-text-2 {margin: 26px 0 0}
.u-section-3 .u-text-3 {margin: 0}
.u-section-3 .u-text-4 {font-family: Adamina; font-size: 1.25rem; margin: 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 619px}
.u-section-3 .u-group-1 {width: 457px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 474px}
.u-section-3 .u-group-1 {width: 350px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 444px}
.u-section-3 .u-group-1 {width: 482px; min-height: 274px; margin-top: 322px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 358px}
.u-section-4 .u-text-1 {font-family: Adamina; font-size: 2.25rem; width: 542px; margin: 80px auto 0}
.u-section-4 .u-form-1 {height: 137px; width: 673px; margin: 15px auto 60px}
.u-section-4 .u-input-1 {font-size: 1.5625rem}
.u-section-4 .u-btn-1 {background-image: none; border-style: none; font-size: 1.6875rem} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 295px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 226px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 170px}
.u-section-4 .u-text-1 {width: 540px}
.u-section-4 .u-form-1 {width: 540px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 287px}
.u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-form-1 {width: 340px} }